.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeSection {
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 2.4rem;
}

/* Styling for Intro Section */

.intro {
    padding: 30px;
    height: 92vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.intro p {
    max-width: 500px;

    font-size: 3rem;
    font-weight: 600;
}

/* Styling for About Section */

.about {
    padding: 30px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.aboutImage {
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContent p {
    font-size: 1.6rem;
    text-align: center;
    max-width: 500px;
}

@media (min-width: 800px) {
    .aboutContent {
        flex-direction: row;
    }
}

/* Styling for Projects Section */

.projects {
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* Styling for Skills Section */

.skills {
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.skillOuterContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skillCategory {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.skillHead {
    font-size: 1.4rem;
}

.skillContainer {
    padding: 30px;
    font-size: 1.4rem;
    border: 1px solid black;
    border-radius: 5px;

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.skill i {
    font-size: 2rem;
}

@media (min-width: 800px) {
    .skillOuterContainer {
        flex-direction: row;
    }
}

/* Styling for Contact Section */

.contact {
    padding: 40px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contactContent p,
.contactEmail {
    font-size: 1.6rem;
    text-align: center;
    max-width: 600px;
}

.contactOptions {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contactOptions p {
    font-size: 1.2rem;
}

.emailOption,
.socialOption {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.socialLinks a {
    font-size: 2.4rem;
    color: black;
}
