.home {
    background-color: var(--dark-alt);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeInnerContainer {
    max-width: 1000px;

    display: flex;
    flex-direction: column;
}

.homeSection {
    display: flex;
    flex-direction: column;
}

.sectionHead {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

h2 {
    color: var(--light-text);
    font-size: 2rem;
}

.hl {
    height: 1px;
    width: 100%;
    background-color: var(--light-text);
}

.sectionHl {
    height: 1px;
    flex: 1;
    background-color: var(--light-text);
}

@media (min-width: 600px) {
    h2 {
        font-size: 2.4rem;
    }
}

/* Styling for Intro Section */

.intro {
    padding: 30px;
    height: 92vh;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.intro p {
    color: var(--light-text);
    max-width: 500px;

    font-size: 2.4rem;
    font-weight: 600;

    animation: 0.6s ease-out 0s 1 slideInFromBottom;
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

@media (min-width: 400px) {
    .intro p {
        font-size: 3rem;
    }
}

/* Styling for About Section */

.about {
    padding: 30px;
    min-height: 400px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.aboutImage {
    background-color: aliceblue;
    width: 200px;
    height: 200px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutContent p {
    color: var(--light-text);

    font-size: 1.4rem;
    text-align: center;
    max-width: 500px;
}

@media (min-width: 600px) {
    .aboutContent p {
        font-size: 1.6rem;
    }
}

@media (min-width: 800px) {
    .aboutContent {
        flex-direction: row;
        justify-content: center;
    }
}

/* Styling for Projects Section */

.projects {
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Styling for Skills Section */

.skills {
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.skillOuterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    flex-wrap: wrap;

    gap: 20px;
}

.skillCategory {
    width: 100%;
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.skillHead {
    color: var(--light-text);
    font-size: 1.4rem;
}

.skillContainer {
    flex-basis: 100%;
    background-color: black;

    padding: 30px;
    font-size: 1.4rem;
    border: 1px solid black;
    border-radius: 20px;

    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.skill {
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.skill i {
    font-size: 2rem;
}

@media (min-width: 800px) {
    .skillOuterContainer {
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
    }
}

/* Styling for Contact Section */

.contact {
    padding: 30px;
    min-height: 300px;

    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contactContent {
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.contactContent p,
.contactEmail {
    font-size: 1.4rem;
    text-align: center;
    max-width: 600px;
}

.contactOptions {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contactOptions p {
    font-size: 1rem;
}

.emailOption,
.socialOption {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.socialLinks {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.socialLinks a {
    font-size: 2.4rem;
    color: var(--light-text);
}

@media (min-width: 600px) {
    .contactContent p,
    .contactEmail {
        font-size: 1.6rem;
    }

    .contactOptions p {
        font-size: 1.2rem;
    }
}
