.footer {
    padding: 20px 10px;
    background-color: var(--dark-alt);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer div {
    color: var(--light-text);
    font-size: 1rem;
}

.optText {
    display: none;
}

@media (min-width: 600px) {
    .footer {
        padding: 30px;
    }

    .optText {
        display: inline;
    }

    .footer div {
        color: var(--light-text);
        font-size: 1.2rem;
    }
}
