.header {
    padding: 20px;
    background-color: var(--dark-alt);

    display: flex;
    justify-content: center;

    /*position: sticky;
    top: 0;*/
}

.headerInnerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 900px;
    width: 100%;
}

.headerName {
    font-size: 1.4rem;
    color: var(--light-text);
}

.headerNav {
    display: flex;
    gap: 25px;
}

.navLink {
    position: relative;
    color: var(--light-text);
    font-size: 1.2rem;
    text-decoration: none;
}

.navLink::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--light-text);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.navLink:hover::before {
    transform: scaleX(1);
}

.burgerBtn {
    background: none;
    border: none;
    cursor: pointer;

    padding: 5px;
    width: 40px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.burgerLine {
    background-color: var(--light-text);
    height: 2px;
}

.lineOne,
.lineThree {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.lineTwo {
    width: 75%;
    align-self: flex-end;
    transition: opacity 0.5s ease-in-out;
}

.burgerBtn.burgerOpen .lineOne {
    transform: rotate(45deg) translateY(6px) translateX(4px);
}

.burgerBtn.burgerOpen .lineThree {
    transform: rotate(-45deg) translateY(-6px) translateX(4px);
}

.burgerBtn.burgerOpen .lineTwo {
    opacity: 0;
}

@media (max-width: 600px) {
    .headerNav {
        display: none;
    }

    .headerNav.burgerOpen {
        display: flex;
    }

    .headerName.burgerOpen {
        display: none;
    }
}

@media (min-width: 600px) {
    .burgerBtn {
        display: none;
    }
}
