.projectContainer {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "image"
        "content";
}

.projectImages {
    display: flex;
    justify-content: center;
    gap: 20px;

    grid-area: image;
}

.projectImage {
    width: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 15px;
    box-shadow: 1px 1px 2px black;
}

.projectDetails {
    color: var(--light-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    grid-area: content;
}

.projectTags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.projectTag {
    padding: 2px 8px;
    border-radius: 10px;
    background-color: var(--dark-accent);
}

.projectDetails {
    font-size: 1.1rem;
    text-align: center;
}

.projectInfo {
    max-width: 600px;
}

.projectLinks {
    display: flex;
    gap: 10px;
}

.projectLink {
    color: var(--light-text);
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid var(--light-text);
    border-radius: 5px;

    transition: all 0.2s ease-in-out;
}

.projectLink:hover {
    background-color: var(--light-text);
    color: black;
}

@media (min-width: 925px) {
    .projectContainer {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "image content";
    }

    .reversedProjectContainer {
        grid-template-areas: "content image";
    }
}

@media (max-width: 700px) {
    .projectImage.secondaryImage {
        display: none;
    }
}
